.contactus{
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -150px;
    position: relative;
    z-index: 1;
    font-family: "Poppins", sans-serif;
}

.contactus .map{
    width: 50%;
}

.contactus .map .mapimg img{
    border-radius: 10px;
    margin-bottom: 30px;
    
}

.contactus .contactinfo{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    height: 100px;
}

.contactus .contactinfo .call{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}


.call img{
    max-width: 50px;
    float: left;
    margin-right: 20px;
    height: 50%;

}

.call h6{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    color: #1e1e1e;
    margin-top: 0px;
    margin-bottom: 0px;
}

.call span{
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}


.contactus .contactinfo .call .callinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}



.contactus .contactinfo .email{
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
}
.email img{
    max-width: 50px;
    float: left;
    margin-right: 20px;
    height: 35%;

}

.email h6{
    font-size: 20px;
    font-weight: 600;
    vertical-align: middle;
    color: #1e1e1e;
    margin-top: 0px;
    margin-bottom: 0px;
}

.email span{
    font-size: 15px;
    color: #aaaaaa;
    font-weight: 400;
}

.contactus .contactinfo .email .emailinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contactus .form{
    width: 40%;
    margin-left: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    padding: 35px 30px;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

.contactus .form #contactform label{
    font-size: 15px;
    color: #3a3a3a;
    margin-bottom: 15px;
}

.contactus .form #contactform input{
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 44px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 30px;
    font-size: 14px;
    padding: 0px 15px;
}

.contactus .form #contactform .fmessage input{
    width: 100%;
    height: 150px;
    max-height: 180px;
    border-radius: 22px;
    background-color: #f6f6f6;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 15px 15px;
}

.contactus .form button{
    font-family: "Poppins", sans-serif;
    background-color: #1e1e1e;
    height: 44px;
    border-radius: 22px;
    padding: 0px 20px;
    color: #fff;
    border: none;
    font-size: 15px;
    font-weight: 500;
    transition: all .5s;
    cursor: pointer;
}

.contactus .form button:hover{
    background-color: #f35525;
}

.contactus .form .btnl{
    text-align: left;
}



@media (max-width: 768px) {
    .contactus {
        padding: 0 20px;
    }

    .contactus .map {
        width: auto;
    }

    .contactus .contactinfo {
        gap: 30px;
    }

    .contactus .contactinfo .call, .contactus .contactinfo .email {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .contactus {
        padding: 0 10px;
    }

    .contactus .contactinfo .call, .contactus .contactinfo .email, .contactus .form {
        width: 100%;
    }

    .contactus .contactinfo {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .contactus .contactinfo .call, .contactus .contactinfo .email {
        width: 90%;
        margin-bottom: 10px;
    }
}